NodeRed.json
[{"id":"74c45d6.a0ebba4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1e18baf.8846945","type":"ui_group","z":"","name":"","tab":"d9fe4d76.25211","order":1,"disp":true,"width":"27","collapse":false},{"id":"d9fe4d76.25211","type":"ui_tab","z":"","name":"Customer_Help_Desk","icon":"dashboard","disabled":false,"hidden":false},{"id":"dd4e5b3a.c6bf78","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#4d8263","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#4d8263","edited":true},"page-titlebar-backgroundColor":{"value":"#4d8263","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#71ab89","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#4d8263","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ab2ea105.b9ee5","type":"ui_form","z":"74c45d6.a0ebba4","name":"","label":"Enter your query","group":"1e18baf.8846945","order":0,"width":"27","height":"1","options":[{"label":"","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":340,"wires":[["700850e1.febba","7e128475.771d1c"]]},{"id":"700850e1.febba","type":"function","z":"74c45d6.a0ebba4","name":"Input_Function","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["2944c67c.8adb4a"]]},{"id":"7e128475.771d1c","type":"ui_text","z":"74c45d6.a0ebba4","group":"1e18baf.8846945","order":1,"width":"0","height":"0","name":"Input","label":"","format":"{{msg.payload}}","layout":"col-center","x":250,"y":500,"wires":[],"icon":"font-awesome/fa-user-circle-o"},{"id":"2944c67c.8adb4a","type":"watson-conversation-v1","z":"74c45d6.a0ebba4","name":"","workspaceid":"dbfe25a3-e51e-406a-bf01-bfcc9f64ae42","multiuser":true,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/3aefccae-ef94-4d4b-9106-e7f2859b0fde","timeout":"","optout-learning":false,"x":500,"y":80,"wires":[["716a0320.17cd9c","d699d975.819288"]]},{"id":"716a0320.17cd9c","type":"function","z":"74c45d6.a0ebba4","name":"Output_Function","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\n else\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":260,"wires":[["d65f8da0.0f12b","8bfa046.f7f35f8"]]},{"id":"d699d975.819288","type":"debug","z":"74c45d6.a0ebba4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":40,"wires":[]},{"id":"d65f8da0.0f12b","type":"ui_text","z":"74c45d6.a0ebba4","group":"1e18baf.8846945","order":2,"width":"27","height":"7","name":"Output","label":"","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":380,"wires":[]},{"id":"8bfa046.f7f35f8","type":"debug","z":"74c45d6.a0ebba4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":140,"wires":[]}]